* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  fill: whitesmoke;
  
}



body {
  background-color: #FEFDF5;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

#headid {
  width: 97%;
  height: 60px;
  background-color: #c41926;
  border-radius: 10px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

#menu {
  margin-left: 20px;
  width: 20%;
}

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  width: 60%;
}

.text {
  display: flex;
  color: #fff;
  font-size: 1.5em;
}

.input {
  width: 100%;
  max-width: 320px;
  height: 15px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  display: flex;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 20%;

}

#login {
  background-color: #c41926;
  border: solid;
  border-color: #737373;
  border-width: 0.5px;
  border-radius: 10px;
  width: 35%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#login svg {
  margin-left: 10px;
}

#login a {
  text-decoration: none;
  color: #fff;
}

/* Slogan Título*/

.title_home {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 2rem;

}

.slogan {
  font-size: 2rem;

  margin-top: 8rem;
}

.slogan span {
  color: #C41926;

}

.slogan p {
  font-size: 1.2rem;

  width: 35rem;
  margin-top: 2rem;
}

#sec-fav {
  margin-top: 100px;
}

#sec-fav>h1 {
  text-align: center;
}

.container {
  margin-top: 50px;


}

.container-fav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  row-gap: 10%;
  width: 50%;

}

.container-fav form {
  width: 15rem;
  height: 17rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem
}

/* butao deletar */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
}

.bin-bottom {
  width: 15px;
}

.bin-top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}