* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  fill: whitesmoke;

}

body {
  /*background-color: #FEFDF5;*/
  background-color: #fefdf5;
  font-family: "DM Sans", sans-serif;
  margin: 0;

}

a {
  text-decoration: none;
  color: white;
}

/*menu*/

#headid {
  width: 97%;
  height: 60px;
  background-color: #c41926;
  border-radius: 10px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

#menu {
  margin-left: 20px;
  width: 15%;
}

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  width: 40%;
}

.text {
  display: flex;
  color: #fff;
  font-size: 1.5em;
}

.input-pesquisa {
  width: 80%;
  max-width: 320px;
  height: 15px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  display: flex;

}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.edit-input {
  width: 25%;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 20%;

}

.lista-icon svg {
  margin-top: -2px;
  margin-left: 2px;
}

#login {
  background-color: #c41926;
  border: solid;
  border-color: #737373;
  border-width: 0.5px;
  border-radius: 10px;
  width: 40%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente */
}

#login svg {
  margin-left: 10px;

}

#login a {
  text-decoration: none;
  color: #fff;
}

.position-login {
  margin-left: -15px;
  margin-top: 13px;
}

.edit {
  list-style: none;
}

.dropdown-menu-login {
  display: none;
  /* Oculta o dropdown por padrão */
  position: absolute;
  background-color: #da2d3b;
  min-width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-left: -65px;
  width: 8rem;
  text-align: center;

}

.dropdown-login:hover .dropdown-menu-login {
  display: block;
  /* Mostra o dropdown quando o elemento pai é hover */
}

.dropdown-login {
  list-style: none;
}


.dropdown-menu {
  display: none;
  /* Oculta o dropdown por padrão */
  position: absolute;
  background-color: #da2d3b;
  min-width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  left: -35px;
  width: 10rem;
  text-align: center;
}

.dropdown:hover .dropdown-menu {
  display: block;
  /* Mostra o dropdown quando o elemento pai é hover */
}

.dropdown {
  list-style: none;
}

.logout-link,
.cadastro-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  /* Cor do texto dos links */
}

.logout-link:hover,
.cadastro-link:hover,
.add-link:hover {
  background-color: #C41926;
  height: 2rem;
}





/* Slogan Título*/

.title_home {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 2rem;

}

.slogan {
  font-size: 2rem;
}

.slogan span {
  color: #C41926;
}

.slogan p {
  font-size: 1.2rem;

  width: 35rem;
  margin-top: 2rem;
}

/* Imagens - Slogan */

.title_home img {
  width: 80%;
}

.imagens_home1 {
  position: relative;
  margin-top: 2rem;
  width: 300px;
  /* Defina o tamanho fixo da caixa */
  height: 300px;
  /* Altura fixa */

}

.imagens_home2 {
  position: absolute;
  margin-top: -10rem;
  margin-left: -10rem;
  width: 300px;
  /* Defina o tamanho fixo da caixa */
  height: 300px;
  /* Altura fixa */
}

.imagens_home1 img,
.imagens_home2 img {
  object-fit: cover;
  /* Garante que a imagem preencha a box sem distorcer */
  object-position: center;
  /* Centraliza a imagem */
  border-radius: 10px;
}


/* Box Images - Slogan */

.box_images1 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  z-index: 1;
  border-radius: 2rem;
  border: 5px solid rgba(126, 126, 126, 0.116);
  position: absolute;
  margin-left: -5rem;
  margin-top: 5rem;
  text-align: center;
  padding: 0.5rem;
  width: 8rem;
  background-color: white;
}



.box_images2 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 2rem;
  border: 5px solid rgba(126, 126, 126, 0.116);
  position: absolute;
  margin-left: 6rem;
  margin-top: -2rem;
  text-align: center;
  padding: 0.5rem;
  width: 6rem;
  background-color: white;
}


.box_images3 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 2rem;
  border: 5px solid rgba(126, 126, 126, 0.116);
  position: absolute;
  margin-left: -17rem;
  margin-top: -7rem;
  text-align: center;
  padding: 0.7rem;
  width: 10rem;
  background-color: white;
}

.box_images1 p,
.box_images2 p,
.box_images3 p {
  margin: 0;
  /* Remove margens do texto */
  font-size: 1rem;
  /* Tamanho do texto */
}

/* Categoria - Menu */

.categorias_menu {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.item_categoria {
  /*border: 1px dashed #C41926;
  border-radius: 1.2rem;*/
  text-align: center;
  padding: 1.5rem;
  width: 12rem;
}

.item_categoria h2 {
  font-size: 1.2rem;
}

.esquerda {
  text-align: right;
}

.item_seta img {
  width: 10%;
}


/* Ofertas - Itens */

#ofertas {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 3rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  width: 80%;
  margin: auto;
  padding-left: 100px;
  flex-wrap: wrap;
}


.produto {
  width: 15rem;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  display: grid;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  margin: auto;
}

.img_produto {
  width: 10rem;
  height: 5rem;
  padding-bottom: 100px;
}

.img_produto img {
  width: 100%;
}

.info_produto {
  margin-top: 3rem;
  color: black;
}

.nome_produto {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}


.tipo_produto {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: auto;
  /* Faz a largura acompanhar o conteúdo */
  display: inline-block;
  /* Opcional: faz com que o conteúdo ocupe apenas o espaço necessário */

}

.tipo_produto span {
  background-color: #64cad8;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 4rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.flex_produto {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.con-like {
  margin-top: 0.5rem;
}

/* TESTE */

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #970a15;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: whitesmoke;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;

}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.container-border {
  display: flex;
  border: dashed #970a15 2px;
  border-radius: 10px;
}

.categorias_menu>.container {
  width: auto;
}


/* CORACAO FAVORITOS */

.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 20px;
  height: 20px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked~.checkmark .filled {
  display: block
}

.con-like .like:checked~.checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.red-heart .poly {
  fill: var(--red);
}



/*About Us*/
.sobre-nos {
  position: relative;
  width: 100%;
  margin: auto;
}

.rectangle {
  width: 90%;
  height: 15vh;
  background-color: #fefdf5;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.half-circle {
  width: 210px;
  height: 100px;
  background-color: #c41926;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  position: absolute;
  bottom: -30px;
  /* Move the half-circle down */
  left: 0;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-circle h1 {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  /* Para melhor adaptação em telas menores */
}

.about {
  width: 98%;
  height: 50vh;
  background-color: #c41926;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.about-text {
  flex: 1;
  color: #fff;
  /* Texto branco */
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Cantos arredondados para estética */
}

/*Avaliação*/
.container-avaliacao {
  height: 70vh;
  margin: auto;
  margin-bottom: 100px;
}

.div-text {
  width: 90%;
  height: 15vh;
  display: flex;
  margin: auto;
}

.avaliacao {
  display: flex;
  justify-content: center;
}

.comentario {
  width: 45%;
  height: 45vh;
  background-color: #c6d6e9;
  margin: 20px;
  border-radius: 10px;
}


/*Contato*/

#container-contact {
  display: flex;
  justify-content: center;
  background-color: #fefdf5;
  height: 50vh;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 150px;
}

.text-contact {
  width: 40%;
  background-color: #fefdf5;
  margin: 10px;

}

.text-contact>h1 {
  color: #000000;
  font-size: 3.5em;
  margin-bottom: 40px;
}

.text-contact>h4 {
  margin-bottom: 40px;
}

.text-contact span {
  color: #C41926;
}

.text-contact>button {
  background-color: #e25c66;
  color: #fff;
  width: 150px;
  height: 40px;
  font-size: 0.9em;
}

.text-contact>button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #db404b;
}

.contact {
  width: 40%;
  background-color: #fefdf5;
  margin: 10px;
}

.head-contact {
  width: 70%;
  height: 65px;
  background-color: #e25c66;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  display: flex;
}

.head-contact>.left {
  width: 50%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.head-contact>.left h4 {
  color: #000000;
  font-size: 1.4em;
  margin-top: 5px;
}

.head-contact>.right {
  width: 45%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.body-contact {
  width: 70%;
  height: 37vh;
  background-color: #f0f0f0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
}

.message1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 25vh;
}

.message2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 0vh;
}

.edit-message {
  background-color: #fff;
  width: 60%;
  height: 50px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.edit-message h4 {
  font-size: 0.8em;
  margin-left: 5px;
}

/*footer*/

footer {
  background-color: #C41926;
  height: 50vh;
  width: 98%;
  margin: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer>.container1 {
  width: 100%;
  display: flex;
  margin-left: 20px;
}

.offers {
  display: flex;
  align-items: end;
  height: 20vh;
  width: 50%;
  color: #fff;
}

.offers img {
  width: 65px;
}

.container2 {
  background-color: #c41926;
  height: 20vh;
  width: 45%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.circle-footer {
  width: 80px;
  height: 80px;
  background-color: #e25c66;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-footer>svg {
  width: 30px;
}

.circle-footer:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #db404b;
}

footer>.container3 {
  background-color: #c41926;
  height: 20vh;
  width: 98%;
  display: flex;
  margin-left: 12px;
}

.btn-footer>button {
  width: 100px;
  height: 40px;
  background-color: #C41926;
  color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-size: 0.9em;
  border-radius: 50px;
  margin: 8px;
}

.btn-footer>button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #db404b;
}

.btn-footer {
  display: flex;
  align-items: center;
  height: 30vh;
  width: 50%;
}

.container4 {
  width: 45%;
  height: 20vh;
  background-color: #c41926;
  display: flex;
  align-items: end;
  justify-content: end;
  color: #fff;
}

.container4 h4 {
  color: #fff;
  font-size: 1em;

}

/* Estilo para o menu suspenso */
.position-login {
  position: relative;
  display: inline-block;
}

/* Estilo para o menu suspenso */
.dropdown-menu-login {
  display: none;
  /* Inicialmente escondido */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #c41926;
  /* Fundo vermelho */
  border-radius: 8px;
  /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  border: 1px solid #ddd;
  /* Borda de 1px */
  padding: 10px 0;
  min-width: 160px;
  /* Largura mínima do menu */
  z-index: 1000;
}

/* Quando o item de menu é hover, mostra o submenu */
.position-login:hover .dropdown-menu-login {
  display: block;
  /* Exibe o menu suspenso ao passar o mouse */
}

/* Estilo para os itens do menu */
.dropdown-menu-login a {
  color: #fff;
  /* Texto branco para contraste com o fundo vermelho */
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

/* Efeito ao passar o mouse sobre os itens do menu */
.dropdown-menu-login a:hover {
  background-color: #c41926;
  /* Cor mais escura de vermelho ao passar o mouse */
  border-radius: 8px;
}

@media screen and (min-width: 400px) and (max-width: 850px) {
  #headid {
    width: 80%;
  }

  #menu {
    width: 15%;
    margin-left: 0;
  }

  .text {
    font-size: 1.5em;
  }

  .input-pesquisa {
    width: 50%;
    max-width: none;
  }

  .slogan {
    text-align: center;
    font-size: 3rem;
    white-space: normal;
    font-size: 17px; 
  }

  #ofertas {
    padding: 10%;
    grid-template-columns: 15% 15% 15%;
    flex-direction: column;
    align-items: center; 
    flex: 0 0 100%;
  }

  .produto {
    width: 20rem;
    height: 17rem;
    padding: 2%;
  }

  .flex_produto{
    width: 10rem;
    height: 1rem;
  }

  .categorias_menu {
    display: none;
  }

  footer {
    height: 40vh;
  }

  #container-contact{
    display: none;
  }

  .container-avaliacao{
    display: none;
  }

  .about{
    padding: 3%;
  }

  .about-text{
    padding: 2%;
    font-size: 1rem;
  }

}

@media screen and (max-width: 1300px){
  .box_images1, .box_images2, .box_images3, .imagens_home1, .imagens_home2{
    display: none;
  }
}

