* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A00A15;
    font-family: "DM Sans", sans-serif;
}

a{
    text-decoration: none;
}

svg{
    fill: white;
}

.part_white{
    background-color: #FFFFFF;
    border-radius: 0 ;
    width: 55rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -165px;
    
}

.part_white_login{
    background-color: #FFFFFF;
    border-radius: 0 ;
    width: 55rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -300px;
    
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    background-color: #A00A15;
}

/* Estilizando a imagem */
.image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.image-container_login{
    width: 55.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.image-container img {
    max-width: 100%;
    height: auto;
    margin-left: 15px;
}

.image-container_login img {
    max-width: 100%;
    height: auto;
    margin-left: 250px;
    
}


.form_login h1{
    margin: 1.5rem 0 1rem ;
    font-size: 2.5rem;
}

.form_login{
    display: flex;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    width: 31rem;
    height: 35rem;
    margin: auto;
    flex-direction: column;
    gap: 2rem;
}

.input-label{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    
}

.input-label input{
     background-color: #FFF6F4;
     padding: 0.6rem;

     border: none;
     border-radius: 0.5rem;

     width: 100%;

     font-family: "DM Sans", sans-serif;
     
}

.p_forgot{
    text-align: right;
    color: #6e6d6c;

    margin-top: -1rem;
}


.button_login{
    background-color: #C41926;
    padding: 0.5rem;
    width: 10rem;
    border: none;
    border-radius: 2rem;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: white;
    margin-left: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

p{
    color: #6e6d6c;
    text-align: center;
    margin-top: 1rem;
}

span{
    color: #C41926;
    font-weight: bold;
}

/* Cadastrar Usuário - Parte Flex */

#flex_final_form{
    margin-top: 1.5rem;

    display: flex;
    gap: 4.5rem;
}

#flex_final_form button{
    margin-left: 0;
}

.password-container {
    position: relative;
    
}
.password-container i {
    position: absolute;
    font-size: 25px;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
}

.forgot-password-link {
   margin-top: 10px;
}

/* Contêiner geral */

@media screen and (min-width: 400px) and (max-width: 1240px) {

body{
    background-color: #A00A15;
}
.image-container_login{
    display: none;
}
h1{
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.container{
    background-color: #A00A15;
    padding: 0%;
}
.form_login{
    text-align: left;
}
.part_white_login{
    display: flex;
    align-items: center;
    margin: auto;
    width: 35rem;
    height: 75vh;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 5px #3f3f3f;
}

}