* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg{
  fill: whitesmoke;

}

body {
  /*background-color: #FEFDF5;*/
  background-color: #fefdf5;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  
}

a {
  text-decoration: none;
  color: white;
}

#headid {
  width: 97%;
  height: 60px;
  background-color: #c41926;
  border-radius: 10px;
  margin:  1rem auto;
  display: flex;
  align-items: center;
}

#menu {
  margin-left: 20px;
  width: 20%;
}

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  width: 60%;
}

.text {
  display: flex;
  color: #fff;
  font-size: 1.5em;
}

.input {
  width: 100%;
  max-width: 320px;
  height: 15px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  display: flex;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

#icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 20%;

}

#login {
  background-color: #c41926;
  border: solid;
  border-color: #737373;
  border-width: 0.5px;
  border-radius: 10px;
  width: 35%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

#login svg {
  margin-left: 10px;
}

#login a {
  text-decoration: none;
  color: #fff;
}

/* Slogan Título*/

.title_home{
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 2rem;
 
}

.slogan{
  font-size: 2rem;

  margin-top: 8rem;
}

.slogan span{
  color: #C41926;
 
}

.slogan p{
  font-size: 1.2rem;

  width: 35rem;
  margin-top: 2rem;
}

/* Imagens - Slogan */

.title_home img{
  width: 80%;
}

.imagens_home1{
  position: relative;
  margin-top: 2rem;

}

.imagens_home2{
  position: absolute;
  margin-top: -10rem;
  margin-left: -10rem;
}

/* Box Images - Slogan */

.box_images1{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  z-index: 1;

  border-radius: 2rem;
  border: 5px solid rgba(126, 126, 126, 0.116);
  position: absolute;
  

  margin-left: -5rem;
  margin-top: 5rem;

  text-align: center;

  padding: 0.5rem;
  width: 8rem;

  background-color: white;

}

.box_images2{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  
  border-radius: 2rem;
  border: 5px solid rgba(126, 126, 126, 0.116);
  position: absolute;
  

  margin-left: 6rem;
  margin-top: -2rem;

  text-align: center;

  padding: 0.5rem;
  width: 6rem;

  background-color: white;

}


.box_images3{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  
  border-radius: 2rem;
  border: 5px solid rgba(126, 126, 126, 0.116);
  position: absolute;
  

 margin-left: -14rem;
  margin-top: -7rem;

  text-align: center;

  padding: 0.5rem;
  width: 6rem;

  background-color: white;

 
}

/* Categoria - Menu */

.categorias_menu{
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

}

.item_categoria{
/*     border: 1px dashed #C41926 ;
  border-radius: 1.2rem;
*/
  text-align: center;
  padding: 1.5rem;
  width: 12rem;
}

.item_categoria h2{
  font-size: 1.2rem;
}



.esquerda{
text-align: right;

}


.item_seta img{
  width: 10%;


}


/* Ofertas - Itens */

.ofertas{
  display: grid;
  grid-template-columns: 25% 25% 25%;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  width: 80%;
  margin: auto;
  padding-left: 100px;
}


.item_oferta{
  width: 15rem;
  height: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.img_like img{
  width: 100%;
}


.img_like{
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 20vh;

}


.informacoes_item h2{
 
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.informacoes_item p{
  font-size: 1rem;
}

.a{
  display: flex;
  justify-content: space-around;
}

.informacoes_item button{
  margin-top: 2rem;
 
}

.tipo_produto{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.tipo_produto span{
  background-color: #64cad8;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 4rem;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

/* TESTE DO EMO */

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #970a15;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: whitesmoke;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;

}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
.container-border {
  display: flex;
  border: dashed #970a15 2px;
  border-radius: 10px;
}
.categorias_menu > .container {
  width: auto;
}


/* CORACAO FAVORITOS */

.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 20px;
  height: 20px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.red-heart .poly {
  fill: var(--red);
}
#login {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}


.dropdown-menu {
  display: none; /* Oculta o dropdown por padrão */
  position: absolute;
  background-color: #C41926;
  min-width: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  left: -20px;
}

.dropdown:hover .dropdown-menu {
  display: block; /* Mostra o dropdown quando o elemento pai é hover */
}

.logout-link,
.cadastro-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333; /* Cor do texto dos links */
}

.logout-link:hover,
.cadastro-link:hover {
 background-color: #C41926; /* Cor de fundo quando hover */
}
.dropdown{
top: 8px;
margin-left: -15px;
list-style: none;
}


/*About Us*/
.sobre-nos {
position: relative;
width: 100%;
margin: auto;
}

.rectangle {
width: 90%;
height: 15vh;
background-color: #fefdf5;
position: relative;
overflow: hidden;
margin: auto;
}

.half-circle {
width: 210px;
height: 100px;
background-color: #c41926;
border-top-left-radius: 100px;
border-top-right-radius: 100px;
position: absolute;
bottom: -30px; /* Move the half-circle down */
left: 0;
margin-left: 150px;
display: flex;
justify-content: center;
align-items: center;
}

.half-circle h1 {
font-size: 1.5em;
font-weight: 600;
color: #fff;
}

.about {
width: 98%;
height: 70vh;
background-color: #c41926;
margin: auto;
margin-bottom: 50px;
border-radius: 20px;
}

/*Avaliação*/
.container-avaliacao {
height: 70vh;
margin: auto;
margin-bottom: 100px;
}

.div-text {
width: 90%;
height: 15vh;
display: flex;
margin: auto;
}

.avaliacao {
display: flex;
justify-content: center;
}

.comentario {
width: 45%;
height: 45vh;
background-color: #c6d6e9;
margin: 20px;
border-radius: 10px;
}


/*Contato*/

.container-contact {
display: flex;
justify-content: center;
background-color: #fefdf5;
height: 50vh;
width: 90%;
margin: auto;
margin-bottom: 100px;
}

.text-contact {
width: 40%;
background-color: #fefdf5;
margin: 10px;

}

.text-contact>h1 {
color: #000000;
font-size: 3.5em;
margin-bottom: 40px;
}

.text-contact>h4 {
margin-bottom: 40px;
}

.text-contact>h4>span {
color: #C41926;
}

.text-contact>button {
background-color: #e25c66;
color: #fff;
width: 150px;
height: 40px;
font-size: 0.9em;
}

.text-contact>button:hover {
cursor: pointer;
transition: 0.5s;
background-color: #db404b;
}

.contact {
width: 40%;
background-color: #fefdf5;
margin: 10px;
}

.head-contact {
width: 70%;
height: 65px;
background-color: #e25c66;
border-top-left-radius: 15px;
border-top-right-radius: 15px;  
border-style: solid;
border-width: 1px;
margin: auto;
display: flex;
}

.head-contact>.left {
width: 50%;
height: 65px;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.head-contact>.left h4 {
color: #000000;
font-size: 1.4em;
margin-top: 5px;
}

.head-contact>.right {
width: 45%;
height: 65px;
display: flex;
align-items: center;
justify-content: end;
}

.body-contact {
width: 70%;
height: 37vh;
background-color: #f0f0f0;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-style: solid;
border-width: 1px;
margin: auto;
}

.message1 {
display: flex;
align-items: center;
justify-content: space-evenly;
width: 75%;
height: 25vh;
}

.message2 {
display: flex;
align-items: center;
justify-content: space-evenly;
width: 75%;
height: 0vh;
}

.edit-message {
background-color: #fff;
width: 60%;
height: 50px;
border-radius: 15px;
border-style: solid;
border-width: 1px;
display: flex;
align-items: center;
}

.edit-message h4 {
font-size: 0.8em;
margin-left: 5px;
}

/*footer*/

footer {
background-color: #C41926; 
height: 50vh;
width: 98%;
margin: auto;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

footer>.container1 {
width: 100%;
display: flex;
margin-left: 20px;
}

.offers {
display: flex;
align-items: end;
height: 20vh;
width: 50%;
color: #fff;
}

.offers img {
width: 65px;
}

.container2 {
background-color: #c41926;
height: 20vh;
width: 45%;
display: flex;
justify-content: end;
align-items: center;
}

.circle-footer {
width: 80px;
height: 80px;
background-color: #e25c66;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.circle-footer>svg {
width: 30px;
}

.circle-footer:hover {
cursor: pointer;
transition: 0.5s;
background-color: #db404b;
}

footer>.container3 {
background-color: #c41926;
height: 20vh;
width: 98%;
display: flex;
margin-left: 12px;
}

.btn-footer>button {
width: 100px;
height: 40px;
background-color: #C41926;
color: #fff;
border-style: solid;
border-width: 1px;
border-color: #fff;
font-size: 0.9em;
border-radius: 50px;
margin: 8px;
}

.btn-footer>button:hover {
cursor: pointer;
transition: 0.5s;
background-color: #db404b;
}

.btn-footer {
display: flex;
align-items: center;
height: 30vh;
width: 50%;
}

.container4 {
width: 45%;
height: 20vh;
background-color: #c41926;
display: flex;
align-items: end;
justify-content: end;
color: #fff;
}

.container4 h4 {
color: #fff;
font-size: 1em;

}